rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /ecoles/{ecoleId} {
      allow read, write: if true;
    }

    match /qcm/{qcmId} {
      allow read, write: if true;
    }

    match /sessions_qcm/{sessionId} {
      allow create: if true;
      allow read, update, delete: if true;
    }
  }
}
